#caixa {
    width: 600px;
    height: 600px;
    padding: 8px;
    margin: 20px;
    background: rgb(26, 158, 119);
    box-shadow: 20px 10px 5px rgba(0, 0,0, 0.2);/*opacidade*/
}

#caixa h1 {
    color:white ;
    text-shadow: 6px 2px rgb(255, 21, 0);/*sobra em texto*/
    font-size: 4em;
}
p {
    color: rgb(42, 56, 165);
    text-shadow: 2px 2px rgb(255, 255, 255);/*sobra em texto pode ser negativo para esquerda*/
    font-size: 2em;
}