/************************sletor universal

*{
    border: 1px solid rgb(136, 121, 202);
}

/***********seletor de texto
h1{
    color: rgb(37, 165, 76);
}
.verde{
    color: rgb(20, 207, 20);
}

p.verde{
    color: rgb(65, 224, 65);

}

#cabecalho{
    border: 1px solid rgb(74, 255, 3);
}*/

